/*
	Copywrite Square Bracket LLC - Sean Clark 2012-3012
	http://square-bracket.com 	
	http://connect.ai	
	http://youtube.com/optikalefxx
*/
.tags-wrapper {
	background:white;
	overflow:hidden;
	width:-moz-available;
	background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 1%, white 15%);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding-top: 0.4%;
    height: 38px;
    padding-left: 0.4%;
    padding-right: 0.4%;
}
.tags-wrapper ul {
	margin:0px;
	padding:0px;
}
.tags-wrapper li {
	float:left;
}
.tags-wrapper li.tag {
	background-color: #E0EAF1;
    border-bottom: 1px solid #B3CEE1;
    border-right: 1px solid #B3CEE1;
    color: #666666;
    display: inline-block;
    font-size: 90%;
    line-height: 1.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.875em;
}
.tags-wrapper li a {
	text-decoration:none;
	color:white;
	padding:2px;
	display:inline-block;
	margin-left:6px;
	color: rgb(51, 51, 51);
}
.tags-wrapper li a:hover {
	color:#222;
}
.tags-wrapper input {
	display:none;
}
.tags-wrapper li.tags-input {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.tags-wrapper li input {
	display:block;
	background:transparent;
	outline:none;
	border:none;
	font-size:11px;
	height: auto;
	width:30px;
	margin: 4px;
}
.tags-wrapper .autofill-bg {
	position:relative;
	top:4px;
}