<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/fave-icon.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/web/css/tags.css")" rel="stylesheet" type="text/css" />
    @* Custom style sheets references *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tags.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/autofill.js")"></script>
    <script>
        $(function () {
            $.getJSON("/api/search/GetAllCategories", function (jsonData) {
                $(jsonData).each(function (i, item) {
                    //console.log("summa", item);
                    $('#categories').append('<li> <span class="filter active" data-filter="app card icon logo web"> <a href="/Question/Search?search=[' + item + ']">' + item + '</a> </span> </li>');
                });
            });
        });
    </script>
    
    <script type="text/javascript">
        $(window).load(function () {
            $('div.description').each(function () {
                $(this).css('display', 'block');
            });

            $('div.content-top-grid').hover(function () {
                $(this).children('.description').stop().fadeTo(500, 1);
            }, function () {
                $(this).children('.description').stop().fadeTo(500, 0);
            });

        });
    </script>
</head>
<body>
    @if (Session["USERID"] == null && Request.Cookies["SessionInfo"] != null)
    {
        Html.Action("checkSession", "Auth");
    }
    <!---start-wrap---->
    <div class="wrap">
        <!---strat-header---->
        <div class="top-log">
            <ul>
                @if (Session["USERID"] == null)
                {

                    <li><a href="@Url.Action("Registration", "User")">Sign Up</a></li>

                    <li><a href="@Url.Action("LogIn", "Auth")">Login</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("ProfilePage", "User", new { id = Session["USERID"] })">Hello, @Session["LASTNAME"]</a></li>

                    <li><a href="@Url.Action("LogOut", "Auth")">Logout</a></li>
                }
            </ul>
        </div>
        <div class="header">
            <div class="logo">
                <a href="@Url.Action("Index", "Question")"></a>
            </div>
            <div class="top-nav">
                @using (Html.BeginForm("Search", "Question", FormMethod.Get, new { }))
                {
                    <input id="search" name="search" type="text" class="textbox" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}">
                    <input type="submit" value="Search" />
                }
            </div>
            <div class="clear"></div>
        </div>
        <div class="">
            <ul id="filters" class="clearfix" style="">
                <div id="categories" class="wrap" style="margin-left: 0;">
                </div>
                @using (Html.BeginForm("Create", "Question", FormMethod.Get))
                {
                    <input class="btn-qn" type="submit" value="Ask Question" style="float: right; margin-right: 6%; width: 20%;" />
                }
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <!---//End-header---->
    <!---start-slider---->
    <div class="slider">
        <div id="wrap" class="wrap">
            @RenderBody()
            <div class="clear"></div>
        </div>
    </div>
    <!---//End-slider---->
    <!---start-footer---->
    <div class="footer">
        <div class="wrap">
            <div class="footer-right">
                <p>Copyright &#169; 2013 Designer First. All Rights Reserved. Template By  <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!---//End-footer---->
    <!---//End-wrap---->
</body>
</html>

