﻿@model AWT_2010127.Models.Answer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="leve-comment">
    <h2>Edit Your Answer</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

    
        <span>Description</span>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
     
    }
</div>
