﻿@model AWT_2010127.Models.Question

<div class="blog-articla-grid  portfolio1 logo1" data-cat="logo">
    <div class="blog-articla-grid-info">
        <h3><a href="@Url.Action("Details", new { id = Model.questionId })">@Model.title</a></h3>
        <ul>
            <li>
                <p>post on @Model.created</p>
            </li>
            <li><a href="@Url.Action("ProfilePage", "User", new { id = Model.userId })">@ViewData["Author"]</a></li>
            <li><a href="/Question/Search?search=[@ViewData["Category"]]">@ViewData["Category"]</a></li>
            <p class="artical-para" style="margin-top: -13px">
            </p>
            @if (Model.tags != null)
            {
                
                foreach (string tag in Model.tags.Split(','))
                {
                <li>
                    <a class="post-tag" href="/Question/Search?search={@tag}">@tag</a>
                </li>
                }
            }
            <p class="artical-para"><a href="@Url.Action("Details", new { id = Model.questionId })">Read More</a></p>
        </ul>
    </div>
</div>
