﻿@using AWT_2010127.Models;

@model AWT_2010127.Models.QuestionAnswer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}



<script>

    $(document).ready(function () {
        var url = document.URL;
        var qId = url.substr(index = url.lastIndexOf("/") + 1);
        $.ajax({
            url: '@Url.Action("CheckLike", "Question")',
            data: {
                'id': qId
            },
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "Liked") {
                    console.log(data);
                    $('#like').html("");
                    $('#like').append('<div style="width: -moz-max-content; float: left; margin-right: 6%; margin-top: 6%;"><a href="javascript:updateUnLike(' + qId + ')">Unlike</a></div><div><img src="/Content/web/images/thumbs-down-icon.png" alt="" style="border-radius: 0%; margin-right: 1%; margin-left: 1%; padding-top: 1%;"></div>');
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    function updateLike(qId) {
        $.ajax({
            url: '@Url.Action("UpdateLike", "Question")',
            data: {
                'id': qId
            },
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != "Error") {
                    console.log(data);
                    $('#like').html("");
                    $('#like').append('<div style="width: -moz-max-content; float: left; margin-right: 6%; margin-top: 6%;"><a href="javascript:updateUnLike(' + qId + ')">Unlike</a></div><div><img src="/Content/web/images/thumbs-down-icon.png" alt="" style="border-radius: 0%; margin-right: 1%; margin-left: 1%; padding-top: 1%;"></div>');
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function updateUnLike(qId) {
        $.ajax({
            url: '@Url.Action("UpdateUnLike", "Question")',
            data: {
                'id': qId
            },
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != "Error") {
                    console.log(data);
                    $('#like').html("");
                    $('#like').append('<div style="width: -moz-max-content; float: left; margin-right: 6%; margin-top: 6%;"><a href="javascript:updateLike(' + qId + ')">I Like it</a></div><div><img src="/Content/web/images/thumbs-up-icon.png" alt="" style="border-radius: 0%; margin-right: 1%; margin-left: 1%; padding-top: 1%;"></div>');
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

</script>



<div style="padding-left: 2%; margin-bottom: 3%;">
    <div class="blog-single-header">
        <h3><a href="@Url.Action("Details", new { id = Model.Question.questionId })">@Model.Question.title</a></h3>
        <ul>
            <li>
                <p>@Model.Question.created</p>
            </li>
            <li><a href="@Url.Action("ProfilePage", "User", new { id = Model.Question.userId })">@ViewData["Author"]</a></li>
            <li><a href="/Question/Search?search=[@ViewData["Category"]]">@ViewData["Category"]</a></li>
        </ul>
    </div>
    <div class="blog-single-artical">
        <p>@Model.Question.description</p>



        <div style="margin-bottom: 2%; margin-top: -9px; padding-left: 1%; padding-top: 1%;">

            <div id="like" style="width: 110px; float: left; margin-right: 3%;">
                <div style="width: -moz-max-content; float: left; margin-right: 6%; margin-top: 6%;">
                    <a href="javascript:updateLike(@Model.Question.questionId)">I Like it</a>
                </div>
                <div>
                    <img src="/Content/web/images/thumbs-up-icon.png" alt="" style="border-radius: 0%; margin-right: 1%; margin-left: 1%; padding-top: 1%;">
                </div>
            </div>
            <div style="padding-top: 5px">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Question.questionId })&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Delete", "Delete", new { id = Model.Question.questionId }, new { onclick = "return confirm('Are you sure you wish to delete this question?');" })
            </div>
        </div>


    </div>
</div>
<div style="padding-left: 2%;">
    <div class="artical-comments">
        @if (Model.Question.answers.Count > 0)
        {
            <h2>Answers</h2>
            foreach (Answer a in Model.Question.answers)
            {
            <div class="artical-comment-grid">
                <div class="artical-comment-grid-left">
                    <img style="border-radius: 50%;" alt="" src="/Content/web/images/profile.png">
                </div>
                <div class="artical-comment-grid-right">
                    <h4><a href="@Url.Action("ProfilePage", "User", new { id = a.userId })">@Html.Action("getAuthorName", "Answer", a)</a></h4>
                    <span>@a.created</span>
                    <p>@a.description</p>
                    <p style="margin-top: -3%;">
                        @Html.ActionLink("Edit", "Edit", "Answer", new { id = a.answerId }, null)&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Delete", "Delete", "Answer", new { id = a.answerId }, new { onclick = "return confirm('Are you sure you wish to delete this answer?');" })
                    </p>
                </div>
            </div>
            }
        }
        <div class="clear"></div>
    </div>
    <div class="leave-comment-form">
        @if (Session["USERID"] != null && Convert.ToInt32(Session["USERTYPE"]) == 2)
        {
            <div class="leve-comment">
                <h2>Post Your Answer</h2>
                @using (Html.BeginForm("Create", "Answer", new { qId = Model.Question.questionId }))
                {
                    @Html.ValidationSummary(true)

    
                    <span>Description</span>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Answer.description)
                        @Html.ValidationMessageFor(model => model.Answer.description)
                    </div>
                    <p>
                        <input type="submit" value="Create" />
                    </p>
     
                }
            </div>
        }
    </div>
</div>

