﻿@model AWT_2010127.Models.Question

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Index", "Tag")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (tagNames) {
                //console.log("bal", tagNames);
                $("#tags").tags({
                    requireData: true,
                    unique: true,
                    maxTags: 5
                }).autofill({
                    data: tagNames
                });
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="slider-register">

        <div class="editor-label">
            @Html.LabelFor(model => model.categoryId)
        </div>
        <div class="styled-select">
        @Html.DropDownListFor(model => model.categoryId, (SelectList)ViewBag.Categories)
            </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tags)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </div>
}