﻿@model IEnumerable<AWT_2010127.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $.getJSON('/api/search/GetTopUsers', function (jsonData) {

            if (jQuery.isEmptyObject(jsonData)) {
                $('#leader').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%; width: 100%;">There are no active users..</h5>');
            } else {
                $(jsonData).each(function (i, u) {
                    if (i == 3) {
                        return false;
                    }
                    var name = u.firstname + " " + u.lastname;
                    if (name.length > 21) {
                        name = name.substring(0, 21) + "..";
                    }
                    $('#leader').append('<li style="display: flex; font-size: 16px; margin-bottom: 2%;"><label style="background-color: #86C800; height: 35px; margin-right: 8%; padding-left: 26px; padding-top: 7px; width: 35px;border-bottom: 1px solid #B3CEE1;border-right: 1px solid #B3CEE1;color: #FFFFFF;border-radius: 50%;">' +
                        u.reputationPoint + '</label><a style="padding-top: 7px; "href="/User/ProfilePage/' + u.userId + '">' + name + '</a></li>');
                });
            }
        });
        var userId = '@Session["USERID"]';
        console.log("assda" + userId);
        if (userId != '') {
            $.getJSON('/api/search/GetRelatedQuestion/' + userId, function (jsonData) {

                if (jQuery.isEmptyObject(jsonData)) {
                    $('#related').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%; width: 100%;">There are no related questions..</h5><a href="/User/Edit/' + userId + '">Update your skills</a>');
                } else {
                    $(jsonData).each(function (i, q) {
                        if (i == 3) {
                            return false;
                        }
                        var title = q.title;
                        if (title.length > 21) {
                            title = title.substring(0, 21) + "..";
                        }
                        $('#related').append('<li style="display: flex; font-size: 16px; margin-bottom: 2%;"><a style="padding-top: 7px;" href="/Question/Details/' + q.questionId + '">' + title + '</a></li>');
                    });
                }
            });
        }
        else {
            $('#related').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%; width: 100%;">Login to view your related questions..</h5><a href="/Auth/Login/">Login</a>');
        }
    });
</script>

<div class="blog-grids" id="portfoliolist">

    @foreach (var item in Model)
    {
        @Html.Partial("_Question", item, new ViewDataDictionary { 
        { "Author", Html.Action("getAuthorName", "Question", item) }, 
        { "Category", Html.Action("getCategory", "Question", item) }
    })
    }
</div>
<div style="width: 30%; float: right;">
    <div class="profile" style="width: -moz-available; margin-bottom: 15%;">
        <h4>Related Questions</h4>
        <div id="related" style="border-top: 1px inset #EBEBEB;">
        </div>
    </div>

    <div class="profile" style="width: -moz-available; margin-bottom: 15%;">
        <h4>Leader Board</h4>
        <div id="leader" style="border-top: 1px inset #EBEBEB;">
        </div>
    </div>
</div>

