﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<script type="text/javascript">

    function getAuthorName(userId, callback) {
        var fullname = "default";
        $.getJSON('/api/search/GetUserById/' + userId, function (jsonData) {
            fullname = jsonData.firstname + " " + jsonData.lastname;
            callback(fullname);
        });
    }

    function getCategoryName(catId, callback) {
        $.getJSON('/api/search/GetCategory/' + catId, function (jsonData) {
            catName = jsonData;
            callback(catName);
        });
    }

    $(document).ready(function () {
        var value = getParmsVals()["search"];
        value = value.replace("+", " ");
        value = value.replace("%20", " ");
        $('#search').val(value);
        var searchserviceurl;
        if (value.indexOf("[") == 0) {
            searchserviceurl = "/api/search/GetQuestionByCategory/";//get question by caegory
        }
        else if (value.indexOf("{") == 0) {
            searchserviceurl = "/api/search/GetQuestionByTag/";//get question by tag
        }
        else {
            searchserviceurl = "/api/search/GetQuestionByKey/";//get question by key
        }

        $.getJSON(searchserviceurl + value, function (jsonData) {
            if (jQuery.isEmptyObject(jsonData)) {
                $('.blog-grids').append('<div class="no-results">No Matching Results..</div>');
            } else {
                $('.blog-grids').append('<div class="no-results">Search results for "' + value + '":</div>');
                $(jsonData).each(function (i, item) {

                    var formatDate = new Date(item.created).toLocaleString();
                    getAuthorName(item.userId, function (name) {
                        getCategoryName(item.categoryId, function (catName) {
                            var taghtml = "";
                            if (item.tags != null) {
                                var tagnames = item.tags.split(',');
                                tagnames.forEach(function (t) {
                                    taghtml = taghtml + '<li><a class="post-tag" href="/Question/Search?search={' + t + '}">' + t + '</a></li>';
                                });
                            }

                            $('.blog-grids').append('<div class="blog-articla-grid portfolio1 logo1" data-cat="logo"> <div class="blog-articla-grid-info"> <h3><a href="/Question/Details/' +
                                item.questionId + '">' + item.title + ' </a></h3> <ul> <li><p>post on ' + formatDate + '</p></li> <li><a href="/User/ProfilePage/' +
                                item.userId + '">' + name + '</a></li> <li><a href="/Question/Search?search=[' + catName + ']">' + catName + '</a></li> <p class="artical-para style="margin-top: -13px"></p>' + taghtml + '<p class="artical-para"><a href="/Question/Details/' + item.questionId + '">Read More</a> </ul> </div> </div></p>');

                        });
                    });
                });
            }
        });

        $(document).ready(function () {
            $.getJSON('/api/search/GetTopUsers', function (jsonData) {
                if (jQuery.isEmptyObject(jsonData)) {
                    $('#leader').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%; width: 100%;">There are no active users..</h5>');
                } else {
                    $(jsonData).each(function (i, u) {
                        if (i == 3) {
                            return false;
                        }
                        var name = u.firstname + " " + u.lastname;
                        if (name.length > 21) {
                            name = name.substring(0, 21) + "..";
                        }
                        $('#leader').append('<li style="display: flex; font-size: 16px; margin-bottom: 2%;"><label style="background-color: #86C800; height: 35px; margin-right: 8%; padding-left: 26px; padding-top: 7px; width: 35px;border-bottom: 1px solid #B3CEE1;border-right: 1px solid #B3CEE1;color: #FFFFFF;border-radius: 50%;">' +
                            u.reputationPoint + '</label><a style="padding-top: 7px; "href="/User/ProfilePage/' + u.userId + '">' + name + '</a></li>');
                    });
                }
            });
        });

        var userId = '@Session["USERID"]';
        console.log("assda" + userId);
        if (userId != '') {
            $.getJSON('/api/search/GetRelatedQuestion/' + userId, function (jsonData) {

                if (jQuery.isEmptyObject(jsonData)) {
                    $('#related').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%; width: 100%;">There are no related questions..</h5><a href="/User/Edit/' + userId + '">Update your skills</a>');
                } else {
                    $(jsonData).each(function (i, q) {
                        if (i == 3) {
                            return false;
                        }
                        var title = q.title;
                        if (title.length > 21) {
                            title = title.substring(0, 21) + "..";
                        }
                        $('#related').append('<li style="display: flex; font-size: 16px; margin-bottom: 2%;"><a style="padding-top: 7px;" href="/Question/Details/' + q.questionId + '">' + title + '</a></li>');
                    });
                }
            });
        }
        else {
            $('#related').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%; width: 100%;">Login to view your related questions..</h5><a href="/Auth/Login/">Login</a>');
        }
    });

    function getParmsVals() {
        var vals = [], key;
        var keys = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < keys.length; i++) {
            key = keys[i].split('=');
            vals.push(key[0]);
            vals[key[0]] = key[1];
        }
        return vals;
    }
</script>
<div class="blog-grids" id="portfoliolist">
</div>
<div style="width: 30%;float:right;">
    <div class="profile" style="width: -moz-available; margin-bottom: 15%;">
        <h4>Related Questions</h4>
        <div id="related" style="border-top: 1px inset #EBEBEB;">
        </div>
    </div>

    <div class="profile" style="width: -moz-available">
        <h4>Leader Board</h4>
        <div id="leader" style="border-top: 1px inset #EBEBEB;">

        </div>
    </div>

</div>
