﻿@model AWT_2010127.Models.UserLogin

@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="slider-login">
        <h1>Change Password</h1>

        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(model => model.password)
        @Html.ValidationMessageFor(model => model.confirmPassword)
        <div>
            @Html.LabelFor(model => model.password, "Current Password: ")
            @Html.EditorFor(model => model.password)
            
        </div>
        <div>
            @Html.LabelFor(model => model.newpassword, "New Password: ")
            @Html.EditorFor(model => model.newpassword)
            
        </div>
        <div>
            @Html.LabelFor(model => model.confirmPassword, "Confirm Password: ")
            @Html.EditorFor(model => model.confirmPassword)           
        </div>
        <p>
            <input type="submit" value="Change Password" />
        </p>
    </div>
}
