﻿@model AWT_2010127.Models.UserLogin

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="slider-login">
        <h1>Login</h1>
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.username)
            @Html.EditorFor(model => model.username)
        </div>
        <div>
            @Html.LabelFor(model => model.password)
            @Html.EditorFor(model => model.password)
        </div>

        <div style="float: left;margin-left: 0;margin-top: 1em;width: 50%;">
            @Html.CheckBoxFor(model => model.rememberMe)
            <label style="float: right; width: 86%;">Remember Me</label>
        </div>

        <p>
            <input type="submit" value="Login" />
        </p>
    </div>
}