﻿@model AWT_2010127.Models.UserEdit

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Index", "Tag")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (tagNames) {
                $("#skills").tags({
                    requireData: true,
                    unique: true,
                    maxTags: 5
                }).autofill({
                    data: tagNames
                });
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="slider-register">
        <h1>Edit Profile</h1>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstname)
            @Html.ValidationMessageFor(model => model.firstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastname)
            @Html.ValidationMessageFor(model => model.lastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skills)
        </div>
        <div class="editor-field" style="width: 52%;">
            @Html.EditorFor(model => model.skills)
        </div>

        <p>
            <input type="submit" value="Save Changes" />
        </p>
    </div>
}
