﻿@model IEnumerable<AWT_2010127.Models.User>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
    
<h4 style="color: #666666;font-family: 'Open Sans',sans-serif;font-size: 2em;margin-bottom: 2%;padding-left: 2%;">Manage Users</h4>
<div>
@using (Html.BeginForm("LockUsers", "User", FormMethod.Post))
{
    <table border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reputationPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                @if (item.typeId == 1)
                {
                    <td>Student</td>
                }
                else
                {
                    <td>Tutor</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reputationPoint)
                </td>
                <td>
                    @if (item.status == 0)
                    {
                        <input type="checkbox" name="userIdsToLock" id="userIdsToLock" value="@item.userId" checked>
                    }
                    else
                    {
                        <input type="checkbox" name="userIdsToLock" id="userIdsToLock" value="@item.userId">
                    }
                </td>
            </tr>
        }

    </table>
    <input class="btn-qn" type="submit" value="Update Locked Users" style="margin-top: 1%; margin-bottom: 1%" />
}
    </div>
