﻿@model AWT_2010127.Models.User

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        var id = getUserId();
        $.getJSON('/api/search/GetQuestionByUserId/' + id, function (jsonData) {
            if (jQuery.isEmptyObject(jsonData)) {
                $('#questions').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%;">Not asked any questions..</h5>');
            } else {
                $(jsonData).each(function (i, q) {
                    var title = q.title;
                    if (q.title.length > 50) {
                        title = q.title.substring(0, 50) + "...";
                    }
                    $('#questions').append('<li style="display: flex; font-size: 16px; margin-bottom: 2%;"><a href="/Question/Details/' + q.questionId + '">' + title + '</a></li>');
                });
            }
        });

        $.getJSON('/api/search/GetAnswerByUserId/' + id, function (jsonData) {
            if (jQuery.isEmptyObject(jsonData)) {
                $('#answers').append('<h5 class="no-results" style="font-size: 100%; margin-bottom: 10%;">Not answered any questions..</h5>');
            } else {
                $(jsonData).each(function (i, a) {
                    var des = a.description;
                    if (a.description.length > 50) {
                        des = a.description.substring(0, 50) + "...";
                    }
                    $('#answers').append('<li style="display: flex; font-size: 16px; margin-bottom: 2%;"><a href="/Question/Details/' + a.questionId + '">' + des + '</a></li>');
                });
            }
        });
    });

    function getUserId() {
        var url = document.URL;
        return url.substr(url.lastIndexOf("/") + 1);
    }
</script>

<div style="width: 100%; float: left;">
    <div style="float: left; margin-bottom: 2%; width: 100%">
        <h4 style="float: left; font-size: 2em;">@Html.DisplayFor(model => model.firstname) @Html.DisplayFor(model => model.lastname)</h4>

        @if (Model.userId == Convert.ToInt32(Session["USERID"]))
        {
            <div class="top-log" style="font-size: 1em;">
                <ul>
                    @if (Model.typeId == 3)
                    {
                        <li><a href="@Url.Action("Manage", "User")">Manage Users</a></li>
                    }
                    <li><a href="@Url.Action("changePassword", "Auth")">Change Password</a></li>
                    <li><a href="@Url.Action("Edit", "User", new { id = Model.userId })">Edit Profile</a></li>
                </ul>
            </div>
        }
    </div>
    <div class="team-member">
        <img alt="" src="/Content/web/images/profile.png">
    </div>
    <div style="width: 50%; color: #666666; float: left;">
        <div style="float: left; margin-right: 1%;">
            Type: 
        </div>
        
            @if (Model.typeId == 1)
            { 
            <div style="margin-bottom: 1%">Student</div>
            }
            else if (Model.typeId == 2)
            {
                <div style="margin-bottom: 1%">Tutor</div>
            }
            else
            {
                <div style="margin-bottom: 1%">Admin</div>
            }
            
        

        <div style="float: left; margin-right: 1%;">
            First Name: 
        </div>
        <div style="margin-bottom: 1%">
            @Html.DisplayFor(model => model.firstname)
        </div>

        <div style="float: left; margin-right: 1%;">
            Last Name: 
        </div>
        <div style="margin-bottom: 1%">
            @Html.DisplayFor(model => model.lastname)
        </div>

        <div style="float: left; margin-right: 1%;">
            Email: 
        </div>
        <div style="margin-bottom: 1%">
            <a class="link" href="mailto:@Model.email">@Model.email</a>
            
        </div>

        <div style="float: left; margin-right: 1%;">
            Reputation Point: 
        </div>
        <div style="margin-bottom: 1%">
            @Html.DisplayFor(model => model.reputationPoint)
        </div>

        <div style="float: left; margin-right: 1%;">
            Skills: 
        </div>
        @if (Model.skills != null)
        {
            <div style="margin-bottom: 1%">
                @Html.DisplayFor(model => model.skills)
            </div>
        }
        else
        {
            <div style="margin-bottom: 1%">
                <a class="link" href="@Url.Action("Edit", "User", new { id = Model.userId })">Update Your Skills</a>
            </div>
        }
        
    </div>
</div>
<div class="wrap-under">
    <div class="profile">
        @if (Model.userId == Convert.ToInt32(Session["USERID"]))
        {
            <h4>My Questions</h4>
        }
        else
        {
            <h4>@Model.lastname's Questions</h4>
        }

        <div id="questions"">

        </div>
    </div>
    <div class="profile" style="float: right !important;">
        @if (Model.userId == Convert.ToInt32(Session["USERID"]))
        {
            <h4>My Answers</h4>
        }
        else
        {
            <h4>@Model.lastname's Answers</h4>
        }
        <div id="answers">
        </div>
    </div>
</div>
