﻿@model AWT_2010127.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Index", "Tag")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (tagNames) {
                $("#skills").tags({
                    requireData: true,
                    unique: true,
                    maxTags: 5
                }).autofill({
                    data: tagNames
                });
            }
        });
    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="slider-register">
        <h1>Registration</h1>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstname)
            @Html.ValidationMessageFor(model => model.firstname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastname)
            @Html.ValidationMessageFor(model => model.lastname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.username)
            @Html.ValidationMessageFor(model => model.username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.confirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.confirmPassword)
            @Html.ValidationMessageFor(model => model.confirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.typeId)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.typeId, 1, new { @checked = true }) <span style="margin-left: 1%; margin-right: 6%">Student</span>
            @Html.RadioButtonFor(model => model.typeId, 2) <span style="margin-left: 1%; margin-right: 2%">Tutor</span>
            @Html.ValidationMessageFor(model => model.typeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.skills)
        </div>
        <div class="editor-field" style="width: 52%;">
            @Html.EditorFor(model => model.skills)
        </div>

        <p>
            <input type="submit" value="Register" />
        </p>
    </div>
}
